<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<display-name>Life Insurance Service</display-name>

	<servlet>
		<servlet-name>lifeinsurance</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<init-param>
       		<param-name>contextConfigLocation</param-name>
       		<param-value>/WEB-INF/lifeinsurance-servlet.xml</param-value>
    	</init-param>
    	 <load-on-startup>1</load-on-startup>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>lifeinsurance</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	



</web-app>
